@font-face {
  font-family: 'Thirthy';
  src: url('./assets/fonts/Thirthy Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
:host {
    text-size-adjust: 100%;
}
